<div id="importFromSecret">
  <div class="form-header">
    Import Account from Secret
  </div>
  <form class="form-body" onsubmit="importAccountFromSecret(event)">
    <br />
    <div style="width: 400px;">
      <div style="display: flex;">
        <span class="item">Name:</span>
        <input type='text' id='ifs-name' size="42"/>
      </div>
      <div style="margin: 5px 0 5px 0; display: flex;">
        <span class="item">Secret (edsk):</span>
        <input type='text' id='ifs-privateKey' size="42" />
      </div>
    </div>
  </form>
  <div class="form-footer">
    <button class="button" onclick="importAccountFromSecret(event)">Import</button>
  </div>
</div>

<script>
  const importAccountFromSecret = async (e) => {
    e.preventDefault();
    try {
      const name = $("#ifs-name").val();
      const privateKey = $("#ifs-privateKey").val();
      const account = await conseiljs.TezosWalletUtil.restoreIdentityWithSecretKey(privateKey);
      SmartpyWallet.account.persist({
        name: name,
        accountType: SmartpyWallet.constants.accountTypes.NORMAL,
        address: account.publicKeyHash,
        publicKey: account.publicKey,
        privateKey: account.privateKey
      });
      showModal({
        title: "Account Imported",
        content: `<div class='white-space-pre'>${JSON.stringify({
          address: account.publicKeyHash,
          publicKey: account.publicKey,
          privateKey: account.privateKey
        }, null, 2)}</div>`,
        timeout: 2000
      });
    } catch (e) {
      showModal({
        title: "Error",
        content: `<div class='white-space-pre'>${JSON.stringify(e.message, null, 2)}</div>`,
        timeout: 2000
      });
    }

  }
</script>